<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Details</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <!-- Current Weather Section -->
        <div class="current-weather">
            <h1 class="city-name">{{ day_data['dt'] | timestamp_to_day }}</h1>
            <h2 id="current-temp" class="temperature">Max: {{ day_data['temp']['max'] }}°C / Min: {{ day_data['temp']['min'] }}°C</h2>
            <img src="http://openweathermap.org/img/wn/{{ day_data['weather'][0]['icon'] }}@2x.png">
            <small id="current-description" class="weather-description">Condition: {{ day_data['weather'][0]['description'].capitalize() }}</small><br>
            <small id="current-max" class="temp-range">Humidity: {{ day_data['humidity'] }}%</small>
            <small id="current-min" class="temp-range">Wind Speed: {{ day_data['speed'] }} m/s</small>

            <!-- Predefined Text Based on Weather -->
            <p class="weather-comment">
                {% if 'rain' in day_data['weather'][0]['description'] %}
                    Don't forget your umbrella!
                {% elif 'cloud' in day_data['weather'][0]['description'] %}
                   It looks a bit cloudy today.
                {% elif 'sun' in day_data['weather'][0]['description'] %}
                    A sunny day ahead—stay hydrated!
                {% else %}
                    Enjoy your day!
                {% endif %}
            </p>
        </div>
        <h3>Hourly forecast</h3>
        <!-- Forecast Table Section -->
        <div class="forecast-table">
            <table>
                <thead>
                    <tr>
                        {% for hourly in hourly_data %}
                            <th>{{ hourly['dt_txt'].split(' ')[1] }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <!-- Icons Row -->
                    <tr>
                        {% for hourly in hourly_data %}
                            <td>
                                <img src="https://openweathermap.org/img/wn/{{ hourly['weather'][0]['icon'] }}@2x.png" alt="Weather Icon" width="50">
                            </td>
                        {% endfor %}
                    </tr>

                    <!-- Temperatures Row -->
                    <tr>
                        {% for hour in hourly_data %}
                            <td>{{ hour['main']['temp'] if 'main' in hour and 'temp' in hour['main'] else 'N/A' }}°C</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
